@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    color: white;
}

h1 {
    text-align: center;
}

.container {
    padding: 20px;
    padding-bottom: 7px;
    border-radius: 15px;
    max-width: 500px;
    margin: 0 auto;
    background-color: #ff2750;
}


ul {
    padding-left: 0;
}

li {
    background-color: #c91133;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 15px 15px;
    border-radius: 5px;
    margin-bottom: 10px;
}

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    background-color: #ff2750;
    border: none;
    border-bottom: 0.5px solid white;
    color: #0b0125;
    margin-right: 10px;
    color: white;
    text-align: center;
    font-size: 1.2em;
}

input:focus{
    background-color: #c91133;
    color: white;
    outline: none;
    border-bottom: none;
}


.remove {
    margin-left: auto;
    margin-right: 15px;
    cursor: pointer;
    font-size: 1.2rem;
}

.remove:hover {
    color: rgba(255, 255, 255, 0.658);
    transition: 0.1s;
}

.input{
    display: flex;
    flex-direction: column;
}

.add {
    padding: 10px 0;
    width: 150px;
    margin: 10px auto;
    background-color: transparent;
    border: 1px solid white;
    color: white;
    cursor: pointer;
}

.add:hover {
    background-color: white;
    color: #ff2750;
    transition: 0.1s;
}